name: Delete unused rooms

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

concurrency:
  group: "clean-db"

jobs:
  clean-db:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Save service-account-key.json file
        env:
          FIREBASE_SERVICE_ACCOUNT_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}
        run: echo "$FIREBASE_SERVICE_ACCOUNT_KEY" >> service-account-key.json

      - name: Save .env file
        env:
          ENV_FILE_CONTENT: ${{ vars.ENV_FILE_CONTENT }}
        shell: bash
        run: |
          echo "$ENV_FILE_CONTENT" > .env

      - name: Clean
        run: make dev_clean_db
  